*.swp

instagram/node_modules
instagram/package-lock.json
instagram/yarn.lock
instagram/*.swp
instagram/.expo
instagram/ios


authentication/node_modules
authentication/package-lock.json
authentication/yarn.lock
authentication/*.swp
authentication/.expo
authentication/ios
